<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/public/style.css"> 
    <title>My Profile</title>
</head>

<body>
    <nav>
        <div class="left-side">
            <a href="/">
                <img src="/public/assets/logo.png" alt="">
            </a>
            <ul>
                <li>
                    <a class="active" href="/"> Home </a>
                </li>
                <li>
                    <a href="/myblog"> Add Project </a>
                </li>
            </ul>
        </div>

        <div class="right-side">
            <a href="/contact-me">Contact Me</a>
        </div>
    </nav>

    <div class="personal" align="justify">
        <div class="container-content">
            <div class="left">
                <h1>
                    Hi, welcome to my profile   
                </h1>
                <p>
                    I am a self-taught person who likes field work, service work, even indoor work 
                    related to computers such as surfing the Internet; Microsoft Office; AutoCAD; 
                    Adobe Photoshop; Adobe Illustrator; and Corel Draw. Because the experience and 
                    expertise gained independently is an honor for me.
                </p>
                        
                <div class="detail-bio">
                        <a href="https://wa.me/6285714660068" class="my-contact">Contact</a>
                        <a href="#" class="my-cv">download CV  <i class="fa fa-download"></i></a>
                <div>
                             
                </div>
                    <!-- <p>blank</p> -->
                </div>
                        
                <div class="social">
                    <a href="https://www.linkedin.com/in/irham-f-rufdo/" class="fa-brands fa-linkedin-in"></a>
                    <a href="#" class="fa-brands fa-instagram"></a>
                    <a href="#" class="fa-brands fa-facebook-f"></a>
                    <a href="#" class="fa-brands fa-twitter"></a>
                </div>

            </div>

            <div class="right">
                <div class="container-card">
                    <div class="image-card">
                        <img src="/public/assets/foto.jpg" alt="personalImage">
                    </div>
                    <div class="name-card">
                        <p class="nameCard">Irham Fatriyand</p>
                        <p class="jobCard">Fullstack Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<hr class="line" />

    <div class="blog-list">
        <h1 class ="titleBlog">MY PROJECT</h1>
        <div class="blog-container" id="blog-list-render">
            <div class="blog-list-render">
                <div class="blog-img">
                    <img src="/public/assets/look.jpg" alt="">
                </div>
                <div class="blog-content">
                    <a href="/myblog-detail" class="title-card-blog">Programming Nowadays</a>
                    <p class="distance-card-blog">Duration : 1 Week</p>
                    <p class="desc-card-blog">Computer programming is the process of performing 
                        a particular computation (or more generally, accomplishing a specific 
                        computing result)</p>
                    <div class="icon-blog">
                        <div class="item-icon-blog">
                            <i class="fa-brands fa-node-js"></i>
                        </div>
                        <div class="item-icon-blog">
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="item-icon-blog">
                            <i class="fa-brands fa-vuejs"></i>
                        </div>
                        <div class="item-icon-blog">
                            <i class="fa-brands fa-angular"></i>
                        </div>
                    </div>
                    <div class="blog-project-action">
                        <a href="#" class="edit-card-action">edit</a>
                        <a href="#" class="delete-card-action">delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>